# This file is populated during setup.
# The setup wizard will ask which tools you use and add credentials here.
#
# Examples of what might go here:
# TODOIST_API_TOKEN=your_token_here
# CRM_API_KEY=your_key_here
